.tile-wrapper {
  display: inline-block;
  width: 55px;
  height: 55px;
}

.Tile {
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  background-color: #1a1a1a;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.piece {
  position: absolute;
  opacity: 50%;
}

@media (prefers-color-scheme: light) {
  .Tile {
    background-color: #c7c2c2;
  }
}
