.tile-wrapper {
  display: inline-block;
}

.Tile {
  font-weight: 500;
  display: inline-block;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  position: absolute;
  opacity: 50%;
}

@media (prefers-color-scheme: light) {
  .Tile {
    background-color: #c7c2c2;
  }
}
